    /*
    - Fonts
    - General CSS
    - HTML5
    - Header
    - Navigation
    - Pitch
    *****************************************
*/
    /*  Fonts  */

    @font-face {
        font-family: 'Geosans Light;
 font-style: normal;
        font-weight: normal;
        src: local('../fonts/GeosansLight'), url('../fonts/GeosansLight.woff') format('woff');
    }

    @font-face {
        font-family: 'Geosans Light Oblique;
 font-style: normal;
        font-weight: bolder;
        src: local('../fonts/GeosansLight'), url('../fonts/GeosansLight-Oblique.woff') format('woff');
    }
    /* General CSS */

    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 100%;
        /* 16px */
        line-height: 1.25rem;
        /* 20px */
    }

    *,
    *:after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        background-color: whitesmoke;
        font-family: 'Geosans Light', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    table,
    blockquote,
    pre {
        margin-bottom: 1.25rem;
        /* 20px */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        color: whitesmoke;
    }

    h1 {
        font-size: 2rem;
        /* 32px */
        line-height: 2.5rem;
        /* 40px */
    }

    h2 {
        font-size: 1.625rem;
        /* 26px */
        line-height: 2.5rem;
        /* 40px */
    }

    h3 {
        font-size: 1.375rem;
        /* 22px */
        line-height: 2.5rem;
        /* 40px */
    }

    h4 {
        font-size: 1.125rem;
        /* 18px */
        line-height: 2.5rem;
        /* 40px */
    }

    h5 {
        font-size: 1rem;
        /* 16px */
        line-height: 1.25rem;
        /* 20px */
    }

    h6 {
        font-size: 0.875rem;
        /* 14px */
        line-height: 1.25rem;
        /* 20px */
    }

    em,
    var,
    strong,
    p code {
        line-height: 1rem;
        /* 16px */
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bolder
    }

    @media screen and (min-width: 600px) {
        /* =Typography (tablet & desktop)
    -------------------------------------------------------------- */
        * {
            font-size: 100%;
            /* 16px */
            line-height: 1.375rem;
            /* 22px */
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ol,
        ul,
        table,
        blockquote,
        pre {
            margin-bottom: 1.375rem;
            /* 22px */
        }
        h1 {
            font-size: 2.5rem;
            /* 40px */
            line-height: 2.75rem;
            /* 44px */
        }
        h2 {
            font-size: 2rem;
            /* 32px */
            line-height: 2.75rem;
            /* 44px */
        }
        h3 {
            font-size: 1.5rem;
            /* 24px */
            line-height: 2.75rem;
            /* 44px */
        }
        h4 {
            font-size: 1.125rem;
            /* 18px */
            line-height: 2.75rem;
            /* 44px */
        }
        h5 {
            font-size: 1rem;
            /* 16px */
            line-height: 1.375rem;
            /* 22px */
        }
        h6 {
            font-size: 0.875rem;
            /* 14px */
            line-height: 1.375rem;
            /* 22px */
        }
        blockquote {
            padding: 1.375rem 1.5rem 0 1.5rem;
            /* 22px 24px 0 24px */
        }
        blockquote p {
            margin-bottom: 0;
            padding-bottom: 1.375rem;
            /* 22px */
        }
        blockquote cite {
            display: block;
            margin-top: 1.375rem;
            /* 22px */
            text-align: right;
        }
        table {
            border-collapse: collapse;
        }
        th {
            line-height: 2.75rem;
            /* 44px */
            padding: 0 0.625rem;
            /* 0 10px */
        }
        td {
            padding: 0 0.625rem;
            /* 0 10px */
        }
        ol,
        ul {
            margin-left: 1.5rem;
            /* 24px */
        }
    }
    /* HTML5 */
    /*  ----- Flex Wrapper ----- */

    #wrapper {
        display: flex;
        flex-direction: column;
        min-width: 92.72727272727273%;
        margin: 0 auto;
    }
    /* ----- Header ----- */

    header {
        display: flex;
        position: fixed;
        width: 100%;
        height: 300px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #1f233e;
    }

    #info {
        display: flex;
        width: 400px;
        margin: 3% 3% 3% 3%;
        flex-direction: column;
        justify-content: space-around;
    }

    #copyright {
        width: 225px;
        color: royalblue;
        font-size: 0.875rem;
    }
    /* ----- Navigation ----- */

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    nav a {
        display: flex;
        text-decoration: none;
        font-weight: 200;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        font-size: 0.625rem;
    }

    nav a:hover,
    nav a:focus {
        outline: none;
    }
    /* Hover Effect: Brackets */

    .text-hover-1 a::before,
    .text-hover-1 a::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }

    .text-hover-1 a::before {
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }

    .text-hover-1 a::after {
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    .text-hover-1 a:hover::before,
    .text-hover-1 a:hover::after,
    .text-hover-1 a:focus::before,
    .text-hover-1 a:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
    /* ----- Sections ----- */

    main {
        display: flex;
        flex-direction: column;
    }

    #one {
        display: flex;
        flex-direction: row;
        height: 500px;
    }
    #one article {
        display: flex;
        align-items: flex-end;
    }

    article#title {
        flex: 1;
        background-color: indianred;
    }

    article#define {
        flex: 1;
        background-color: whitesmoke;
    }

    summary {
        display: flex;
        max-width: 300px;
        min-height: 200px;
        flex-direction: column;
        margin: 10% 5% 5% 5%;
        align-items: flex-start;
    }

        summary p {
        text-align: justify;
    }

    #define p {
        color: grey;
    }

    #two {
        display: flex;
        height: 500px;
    }

    figure {
        display: flex;
        margin: 3% 3% 3% 3%;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 40%;
        height: 40%;
    }

    #davinci {
        flex: 1;
        background-color: royalblue;
    }

    #thing1 {
        flex: 1;
        background-color: whitesmoke;
    }

    #thing2 {
        flex: 1;
        background-color: indianred;
    }
