    /*
    - Fonts
    - General CSS
    - HTML5
    - Header
    - Navigation
    - Pitch
    *****************************************
*/
    /*  Fonts  */

    @font-face {
        font-family: 'Avenir Next LT Pro Regular';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/AvenirNextLTPro-Regular'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Avenir Next LT Pro Demi';
        font-style: normal;
        font-weight: bolder;
        src: local('../fonts/AvenirNextLTPro-Demi'), url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    }
    /* General CSS */

    body {
        background-color: WhiteSmoke;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        color: #505050;
        font-family: "Avenir Next LT Pro Regular", arial;
        letter-spacing: 1px;
    }

    h1 {
        font-size: 2em;
        margin: .67em 0
    }

    h2 {
        font-size: 1.5em;
        margin: .75em 0
    }

    h3 {
        font-size: 1.17em;
        margin: .83em 0
    }

    h5 {
        font-size: .83em;
        margin: 1.5em 0
    }

    h6 {
        font-size: .75em;
        margin: 1.67em 0
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bolder
    }
    /* HTML5 */

    section {
        margin-left: 7%;
        margin-right: 7%;
    }
    /*  ----- Flex Wrapper ----- */

    .wrapper {
        display: flex;
        min-width: 92.72727272727273%;
        min-height: 500px;
        margin: 0 auto;
        flex-direction: column;
    }
